.Todo{
    display: flex;
    padding: 0.3rem;
    align-items: center;
    width: 65%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.Todo:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #6a097d;
}

.TodoIcon{
    font-size: smaller;
    margin-right: 0.5rem;
}

.TodoLabel{
    color: white;
    font-size: medium;
    font-weight: 200;
}

.TodoLabel{
    font-weight: 200;
}