.DropMenu{
    position: absolute;
    top: 3rem;
    right: 1rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.09);
    padding: 1rem;
    margin-right: 20%;
}

@media(max-width: 650px){
    .DropMenu{
        display: none;
    }
}

