.TaskListHeading{
    display: flex;
    padding: 0.3rem;
    align-items: center;
    width: 65%;
    margin: 1.5rem auto 0rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.TaskList{
    display: flex;
    flex-direction: column;
}

.TaskListHeading:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #6a097d;
}

.TaskListLabel{
    color: white;
    font-size: larger;
    font-weight: 200;
    margin: 0 auto;
}

.TaskListLabel:hover{
    font-weight: 800;
}

.TaskListIcon{
    font-size: small;
}