
.Search input {
    height: 60%;
    background-color: white;
    border: 1px black solid;
    border-radius: 8px;
    color: black;
    width: 20rem;
    transition: cubic-bezier(1, 0, 0, 1) 0.5s;
}

.Search input:hover{    
    transform: scale(1.05);
}

.Search input::placeholder{
    color: black;
}

@media(max-width: 650px){
    .Search{
        display: none;
    }
}