.DropMenuItem{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-weight: 400;  
    margin-left: auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    /* margin-right: 20%; */
}

.DropMenuItem:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.DropMenuItem p{
    color: black;
}


