.RegisterForm{
    width: 50%;
}

.SpinnerContainer{
    width: 100%;
    text-align: center;
}
.Title{
    text-align: center;
}

.ButtonGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

Button{
    display: block;
    margin-top: 5px;
    width: 95%;
        border-radius: 50px;
}

.LoginButton{
    width: 70%;
    height: 2rem;
    border: 0.4px solid #d2d3c9;
    border-radius: 8px;
    font-size: larger;
    font-weight: 400;
    background-color: #5995fd;
    transition: linear 0.2s;
}

.LoginButton:hover{
    border: none;
    background-color: #3260ad;
    transform: scale(1.02);
    color: white;

}

.RegisterButton{
    height: 2rem;
    border: 0.4px solid #5995fd;
    border-radius: 8px;
    font-size: larger;
    font-weight: 400;
    background-color: #5995fd;
    transition: ease-in-out 0.2s;
}

.RegisterButton:hover{
    color: #ee91bc;
    background-color: #3260ad;
    transform: scale(1.02);
}

Button:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

Button:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}